<div class="container">
  <h1>My ToDo List</h1>
  <input
    type="text"
    placeholder="Inserisci un nuovo item alla lista"
    [(ngModel)]="todo.item"
    (keyup.enter)="addtodo()"
  />
  <div class="list-group d-flex" *ngFor="let item of items; let i = index">
    <button
      [ngClass]="classe_done"
      type="button"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      {{ i + 1 }}. {{ item.item }}
    </button>
  </div>
</div>
<!-- (click)="done(item)" -->
